@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

:root{
    /*Padrões de design de logo*/
    --w-logo: 96px;
    --h-logo: 96px;
    --h-nav: 110px;
    --font-noto-sans: "Noto Sans";
    --font-merienda:Merienda;
    --cor-preto: black;
    --cor-branca: white;
}